<div ng-controller="SearchCtrl">



    <div id='errors' ng-show='hasErrors' class="row">
        <div class="col-sm-12 col-md-12 alert alert-danger" role="alert">{{errorMessage}}
        </div>
    </div>

    <uib-accordion close-others="true">
        <uib-accordion-group is-open="false" is-disabled="false">
            <uib-accordion-heading>
                <i class="pull-letf fa fa-question-circle"></i> Help
            </uib-accordion-heading>
            Add some help here
        </uib-accordion-group>
    </uib-accordion>


    <div ng-show="!finished && !hasErrors"><i class="fa fa-4x fa-spinner fa-spin"></i></div>
    <div ng-show="finished && !hasErrors">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1>Search results</h1><h2>{{r.hits.length|| 0}} matches</h2>
                <uib-accordion close-others="true">
                    <uib-accordion-group heading="Query sequence" is-open="false" is-disabled="false">
                        <textarea ng-model="querySequence" editable="false" style="min-width: 100%; min-height: 90%"></textarea>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
            <div class="col-sm-12 col-md-6">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="false" is-disabled="false">
                        <uib-accordion-heading>
                            <i class="pull-left glyphicon  glyphicon-filter"></i> Filter results
                        </uib-accordion-heading>
                        <button type="button btn-primary" class="btn btn-primary" ng-model="filtLigand" uib-btn-checkbox
                                ng-click="switchLigandFilter()">
                            Has ligands
                        </button>
                    </uib-accordion-group>
                </uib-accordion>
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="false" is-disabled="false">
                        <uib-accordion-heading>
                            <i class="pull-left fa fa-tasks"></i> Models
                        </uib-accordion-heading>
                        <div class="col-xs-12" ng-show="!hasSelection">
                            Select cluster representatives to get models.
                        </div> 
                        <div class="col-xs-12" ng-repeat="m in selectedList">
                            <i class="fa fa-spinner fa-spin" ng-show="! m.modellingDone"></i>
                            <a ng-href="{{m.modelUrl}}" ng-show="m.modellingDone && m.modelUrl.length > 0"><i class="fa fa-floppy-o"></i></a>
                            {{m.pdb}}_{{m.chain}} 
                            <span class="text-danger">{{m.errorMessage}}</span>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-11 col-sm-offset-1"> 
                <div role="group" aria-label="...">
                    <a type="button" class="btn btn-default">SSE</a>
                    <a type="button" class="btn btn-default">FFAS</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><a ng-click="sortType = 'masterID'; sortReverse = !sortReverse">
                                    MasterID
                                    <span ng-show="sortType == 'masterID' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'masterID' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a ng-click="sortType = 'score'; sortReverse = !sortReverse">
                                    Score
                                    <span ng-show="sortType == 'score' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'score' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a ng-click="sortType = 'ident'; sortReverse = !sortReverse">
                                    Identity
                                    <span ng-show="sortType == 'ident' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'ident' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a ng-click="sortType = 'flex'; sortReverse = !sortReverse">
                                    Flexibility
                                    <span ng-show="sortType == 'flex' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'flex' && sortReverse" class="fa fa-caret-up"></span>
                                </a></th>
                            <th><a ng-click="sortType = 'rmsd'; sortReverse = !sortReverse">
                                    RMSD
                                    <span ng-show="sortType == 'rmsd' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'rmsd' && sortReverse" class="fa fa-caret-up"></span>
                                </a></th>
                            <th><a  ng-click="sortType = 'size'; sortReverse = !sortReverse">
                                    ClusterSize
                                    <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
                                </a></th>
                            <th> Representatives</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hit in r.hits| orderBy:sortType:sortReverse">
                            <td><a ng-href="http://pdbflex.org/cluster.html#!/{{hit.masterID}}/{{hit.masterDbID}}/{{hit.masterID}}"><b>{{hit.masterID}}</b></td>
                            <td>{{hit.score}}</td>
                            <td>{{hit.ident}}</td>
                            <td>{{hit.flex}}</td>
                            <td>{{hit.rmsd}}</td>
                            <td>{{hit.size}}</td>
                            <td>
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div class="col-md-12">
                                            <ul class="horizontal-slide">
                                                <li class="col-xs-3 col-md-2 img-thumbnail" ng-repeat="r in hit.representatives| filter: matchFilters()">
                                                    <button type="button"  class="btn btn-xs" ng-class="{'btn-success':r.selected}" ng-click="select(r)" aria-label="Select">
                                                        <span class="glyphicon " ng-class="{'glyphicon-check':r.selected, 'glyphicon-unchecked': !r.selected}"  aria-hidden="true"></span>
                                                    </button>
                                                    <span ng-show="hasLigand(r)" aria-label="Has ligand">
                                                        <i class="fa fa-puzzle-piece"></i></span>
                                                    <img ng-src="http://www.rcsb.org/pdb/images/{{r.pdb}}_bio_r_80.jpg" style="margin:auto;" class="img-responsive img-representative-tmb">
                                                    <div class="text-center">{{r.pdb}}_{{r.chain}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--
     pdb images 
    -->      
    <!--<script type="text/javascript" >
            $(document).ready(function () {
            rcsbPdbImageLib.useShadowBox = false;
                rcsbPdbImageLib.addOnloadEvent(function () {
                rcsbPdbImageLib.initLib();
                })
            });
        </script>-->
    <!--end pdb images--> 