<div ng-controller="SearchCtrl">

    <script type="text/ng-template" id="itemPopoverTpl.html">
    <table class="table table-condensed"><tbody>
        <tr><th>PDB ID</th>
        <td>{{item.pdb}}</td></tr><tr>
        <th>Name</th>
        <td>{{item.name || 'Unknown'}}</td></tr><tr>
        <th>Description</th>
        <td>{{item.description || 'No description'}}</td></tr><tr>
        <th>Has ligand</th>
        <td>{{(item.ligands && item.ligands.length > 0)? 'yes': 'no'}}</td></tr><tr>
        <th>Part of the complex</th>
        <td></td></tr>
    </tbody></table>
    </script> 

    <div id='errors' ng-show='hasErrors' class="row">
        <div class="col-sm-12 col-md-12 alert alert-danger" role="alert">{{errorMessage}}
        </div>
    </div>

    <uib-accordion close-others="true">
        <uib-accordion-group is-open="false" is-disabled="false">
            <uib-accordion-heading>
                <i class="pull-letf fa fa-question-circle"></i> Help
            </uib-accordion-heading>
            <div>
                <h2>Legend</h2>
                <ul class="list-unstyled">
                    <li><span><i class="fa fa-cloud-download"></i></span> &dash; Click to submit modelling job using this representative.</li>
                    <li><span class="text-success"><i class="fa fa-floppy-o"></i></span> &dash; Modelling job finished and model ready for download.</li>
                    <li><span class="text-danger"><i class="fa fa-exclamation-circle"></i></span> &dash; Modelling job failed.</li>
                    <li><span><i class="fa fa-puzzle-piece"></i></span> &dash; Cluster representative has ligand</li>
                    <li><span><i class="fa fa-cubes"></i></span> &dash; Cluster representative is part of the complex</li>
                </ul>
            </div>
        </uib-accordion-group>
    </uib-accordion>
    <div ng-show="!finished && !hasErrors"><i class="fa fa-4x fa-spinner fa-spin"></i></div>
    <div ng-show="finished && !hasErrors">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1>Search results</h1><h2>{{r.hits.length|| 0}} matches</h2>
                <uib-accordion close-others="true">
                    <uib-accordion-group heading="Query sequence" is-open="false" is-disabled="false">
                        <textarea ng-model="querySequence" editable="false" style="min-width: 100%; min-height: 90%"></textarea>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
            <div class="col-sm-12 col-md-6">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="false" is-disabled="false">
                        <uib-accordion-heading>
                            <i class="pull-left glyphicon  glyphicon-filter"></i> Filter results
                        </uib-accordion-heading>
                        <button type="button btn-primary" class="btn btn-primary" ng-model="filtLigand" uib-btn-checkbox
                                ng-click="switchLigandFilter()">
                            <i class="fa fa-puzzle-piece"></i> Has ligands
                        </button>
                    </uib-accordion-group>
                </uib-accordion>
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="false" is-disabled="false">
                        <uib-accordion-heading>
                            <i class="pull-left fa fa-calculator"></i> Analysis
                        </uib-accordion-heading>
                        <div class="col-xs-12" ng-show="!hasSelection">
                            Select cluster representatives to perform analysis.
                        </div> 
                        <div class="col-xs-12" ng-repeat="m in analysisCart| orderBy:'pdb'">
                            {{m.pdb}}_{{m.chain}} 
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-11 col-sm-offset-1"> 
                <div role="group" aria-label="...">
                    <a type="button" class="btn btn-default">SSE</a>
                    <a type="button" class="btn btn-default">FFAS</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><a ng-click="sortType = 'masterID'; sortReverse = !sortReverse">
                                    MasterID
                                    <span ng-show="sortType == 'masterID' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'masterID' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a ng-click="sortType = 'score'; sortReverse = !sortReverse">
                                    e-value
                                    <span ng-show="sortType == 'score' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'score' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a ng-click="sortType = 'ident'; sortReverse = !sortReverse">
                                    Identity
                                    <span ng-show="sortType == 'ident' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'ident' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th><a ng-click="sortType = 'rmsd'; sortReverse = !sortReverse">
                                    RMSD
                                    <span ng-show="sortType == 'rmsd' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'rmsd' && sortReverse" class="fa fa-caret-up"></span>
                                </a></th>
                            <th><a  ng-click="sortType = 'size'; sortReverse = !sortReverse">
                                    # of subclusters
                                    <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
                                </a></th>
                            <th> Representatives</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="hit in r.hits| orderBy:sortType:sortReverse">
                            <td><a ng-href="http://pdbflex.org/cluster.html#!/{{hit.masterID}}/{{hit.masterDbID}}/{{hit.masterID}}"><b>{{hit.masterID}}</b></a></td>
                            <td>{{hit.score}}</td>
                            <td>{{hit.ident}}</td>
                            <td>{{hit.rmsd}}</td>
                            <td>{{hit.size}}</td>
                            <td>
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div class="col-md-12">
                                            <ul class="horizontal-slide">
                                                <li class="col-xs-3 col-md-2 img-thumbnail" ng-repeat="r in hit.representatives| filter: matchFilters()">
                                                    <span class="glyphicon " ng-class="{'glyphicon-check':r.selected,'text-success':r.selected, 'glyphicon-unchecked': !r.selected}" 
                                                          ng-click="addtocart(r)" uib-popover="Click to add structure to analysis basket." popover-trigger="mouseenter"  
                                                          popover-append-to-body="true" aria-hidden="true"></span>

                                                    <span aria-label="Modelling" uib-popover="{{r.modellingMsg|| 'Click to run modelling'}}" popover-trigger="mouseenter" popover-append-to-body="true">
                                                        <span                                                             ng-switch on="r.modellingStatus">
                                                            <span ng-switch-when="started"><i class="fa fa-spinner fa-spin"></i></span>
                                                            <span ng-switch-when="done"><span class="text-success"><a ng-href="{{r.modelUrl}}" target="_blank"><i class="fa fa-floppy-o"></i></a></span></span>
                                                            <span ng-switch-when="error"><span class="text-danger" ng-click="modellingRequest(r)"><i class="fa fa-exclamation-circle"></i></span></span>
                                                            <span ng-switch-default><i class="fa fa-cloud-download" ng-click="modellingRequest(r)" ></i></span>
                                                        </span>
                                                    </span>
                                                    <span ng-show="hasLigand(r)" aria-label="Has ligand" uib-popover="Has ligand(s)" popover-trigger="mouseenter" popover-append-to-body="true">
                                                        <i class="fa fa-puzzle-piece"></i></span>
                                                    <span ng-show="isComplex(r)" aria-label="Part of a complex" uib-popover="Part of a complex" popover-trigger="mouseenter" popover-append-to-body="true">
                                                        <i class="fa fa-cubes"></i></span>

                                                    <br />    
                                                    <img ng-src="http://www.rcsb.org/pdb/images/{{r.pdb}}_bio_r_80.jpg" style="margin:auto;" class="img-responsive img-representative-tmb"
                                                         >
                                                    <div class="text-center"><span uib-popover-template="'itemPopoverTpl.html'" popover-trigger="mouseenter" ng-init="item = r" popover-append-to-body="true">{{r.pdb}}_{{r.chain}}</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>